/*GENERAL*/

body {
	font-family: sans-serif;
	background-color: #315481;
	background-image: linear-gradient(to bottom, #35B854, #ABD1B4 100%);
	background-attachment: fixed;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 0;
	margin: 0;

	font-size: 14px;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	min-height: 100%;
	background: white;
}

.pannel_left {
	display: inline-block;
	width: 29%;
	border-right: 1px solid black;
}

.pannel_right {
	display: inline-block;
	float: right;
	width: 70%;
}

header {
	background: #d2edf4;
	background-image: linear-gradient(to bottom, #5CFF82, #CCFFD8 100%);
	padding: 20px 15px 15px 15px;
	position: relative;
}

#login-buttons {
	display: block;
}

h1 {
	font-size: 1.5em;
	margin: 0;
	margin-bottom: 10px;
	display: inline-block;
	margin-right: 1em;
}

form {
	margin-top: 10px;
	position: relative;
}

ul {
	margin: 0;
	padding: 0;
	background: white;
}

li {
	position: relative;
	list-style: none;
	padding: 15px;
}

.delete {
	float: right;
	font-weight: bold;
	background: none;
	font-size: 1em;
	border: none;
	position: relative;
}

header .hide-completed {
	float: right;
}

/*PANEL RIGHT*/

.new_task_form_container {
	margin-bottom: 20px;
}

/*PROJECT*/

.project_container {
	border-bottom: #eee solid 1px;
	cursor: pointer;
}

.project_title {
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

/*PACK*/

.pack_container {
	margin-top: 10px;
	border-top: #eee solid 1px;
	cursor: pointer;
}

.project_container > ul > .pack_container {
	display: none;
}

.selected_project > ul > .pack_container {
	display: block;	
}

.selected_pack {
	background-color: lightgrey;
}

.completed_pack > form > input{
	text-decoration: line-through;
}

.pack_title_form {
	display: inline-block;
}

.pack_title {
	border: none;
	display: inline-block;
	width: 160px;
}

/*TASK*/

.task_container {
	border-bottom: #eee solid 1px;
}

.new-message, .task_color_form {
	display: inline-block;
}

.message_container {
	transistion-duration: 2s;
	display: none;
}

.selected_task > .message_container {
	display: block;
}

/*Task color*/

.task_white {
	background-color: white;
}

.task_yellow {
	background-color: #FCFA77;
}

.task_pink {
	background-color: #FFC7F5;
}

.task_blue {
	background-color: #77C7FC;
}

.task_green {
	background-color: #77FC80;
}

/*MESSAGE*/

.message_form_container {
	margin-bottom: 20px;
}

.message_container_list {
	border-top: #eee solid 1px;
}